a {
  color: #526488;
  @apply font-bold;
}

.title {
  color: #35495e;
  @apply block font-bold text-5xl tracking-wide;
}

.subtitle {
  color: #526488;
  word-spacing: 0.15em;
  @apply block font-light text-3xl tracking-wide pb-4;
}
