/**
  * Fonts
*/
@font-face {
  font-family: 'Bugakii';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/bugaki/Bugaki-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Bugakii';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/bugaki/Bugaki-Italic.woff') format('woff');
}
