/**
  * Fonts
*/
/* html {
  font-feature-settings: 'ss03'; /* possible 'ss01', 'ss02', 'ss03' *
} */

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-Italic.woff2') format('woff2');
}
/*
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-MediumItalic.woff2') format('woff2');
} */

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff') format('woff'),
    url('/fonts/plus-jakarta-sans/PlusJakartaSans-BoldItalic.woff2') format('woff2');
}
