html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  background-color: var(--bg-secondary);
  color: var(--text);
  @apply
    font-mono
    p-4
    transition-colors
    duration-200
    ease-in-out;

  & > div {
    background-color: var(--bg);
    @apply
      rounded-3xl
      transition-colors
      duration-200
      ease-in-out;
  }
}
