@import './_vars.pcss';
@import './_globals.pcss';
/* @import './_fonts.pcss'; */
/* @import './_mixins.pcss'; */
@import './_plugins.pcss';
@import './_transitions.pcss';

/* @layer base { */
  @import './_typography.pcss';
  @import './_grid.pcss';
  @import './_case-sections.pcss';
/* } */

/* @layer components { */
  @import './_icons.pcss';
  @import './_btns.pcss';
/* } */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';